body {
    --taskbar-height: 30px;
    --accent-color: #d02727;

    @media (display-mode: window-controls-overlay) { 
        --taskbar-height: env(titlebar-area-height, 30px);
    }
}

app-taskbar {
    background: #222;
    z-index: 9999999999999999;
    --color: #eee;
    --dark-images: 1;
    height: var(--taskbar-height);
    left: 0;
    top: 0;

    @media (display-mode: window-controls-overlay) { 
        width: env(titlebar-area-width, 100%);
        left: env(titlebar-area-x, 0);
    }
}

app-window {
    --maximized-top: var(--taskbar-height);
    --titlebar-color: #111;
    --titlebar-controls-color: #eee;
    background: #222;
    left: 20px;
    top: 50px;
    width: 50%;
    height: calc(100% - 80px);

    & iframe {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 30px);
        border: none;
        box-sizing: border-box;
    }

    &.video {
        left: 0;
        top: var(--taskbar-height);
        width: calc(100% - 300px);
        height: calc(calc(100% - 300px) - var(--taskbar-height));
    
        @media (max-width: 850px) {
            width: 100%;
        }
    
        @media (max-height: 750px) {
            height: calc(100% - var(--taskbar-height));
        }
    }

    &.list {
        left: calc(100% - 300px);
        width: 300px;
        top: var(--taskbar-height);
        height: calc(100% - var(--taskbar-height));

        @media (max-width: 300px) {
            width: 100%;
        }
    }
}

video-preview {
    background: #222;
    color: #eee;

    &[hide] {
        display: none;
    }
}

body[dragging] app-window iframe {
    pointer-events: none;
}

input, button, select {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 30px;
	min-width: 40px;
	border: none;
	color: #fff;
	padding: 8px;
	box-sizing: border-box;
	border-radius: 4px;
	transition: 75ms;
	accent-color: var(--accent-color);
	background: #222;
    box-sizing: border-box;

    &[type="color"] {
        padding: 3px;
    }
	
	&:is(input):not([type]) { /* if text */
		width: 200px;
		outline: none;

		&:focus{
			border-bottom: 2px var(--accent-color) solid;
		}
	}

	&:is([appearance="accent"]) {
		background: var(--accent-color);
	}
}
