@supports not ( selector( & ) ) {
    body::after {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #f00;
        color: #fff;
        content: "Nested CSS is not supported! This website will not work properly. Please use latest Chromium or Webkit based browser or Firefox Nightly with layout.css.nesting.enabled flag";
        z-index: 99999999999999999999999999999;
        display: flex;
        padding: 10px;
        box-sizing: border-box;
        justify-content: center;
    }
}

body {
	background-image: var(--background-url);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

img.background {
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dv-trends, .dv-search, .dv-liked {
    position: fixed;
    top: var(--taskbar-height);
    left: 0;
    width: 100%;
    height: calc(100% - var(--taskbar-height));
    display: none;
    overflow: auto;
    padding: 10px;
    box-sizing: border-box;
    z-index: 9999999999999999;
    background: inherit;

    [custom-background] & {
        background: transparent;
    }

    .search-container {
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 4px;
        gap: 4px;
        justify-content: center;
    }
}

body[custom-background]:is([trends], [search], [liked]) img.background{
    z-index: 9999999999999998;
    filter: blur(4px);
}

body[search] .dv-search, body[liked] .dv-liked {
    display: block;
}

body[trends] .dv-trends, body[search] .dv-search .videos, body[liked] .dv-liked .videos {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    grid-gap: 20px;

    @media (min-width: 650px) {
        grid-template-columns: auto auto;
    }

    @media (min-width: 1000px) {
        grid-template-columns: auto auto auto;
    }

    @media (min-width: 1350px) {
        grid-template-columns: auto auto auto auto;
    }
}
