body {
    & video, &[audio_only] img.thumbnail, &[splited_playing] canvas {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #000;
        app-region: drag;
        z-index: -1;
        display: block;
        object-fit: contain;

        [embed]:not(:fullscreen) & {
            border-radius: 10px;
        }

        &::cue {
            background: var(--accent-color);
            opacity: 0.8;
            color: #ffffff;
        }
    }

    &[splited_playing] video, &:not([splited_playing]) canvas {
        display: none;
    }

    & img.thumbnail{
        display: none;
    }
    
    & .info {
        --overlay-left: 0px;
        --overlay-right: 0px;

        [seperate] > & {
            @media (display-mode: window-controls-overlay) { 
                --overlay-left: env(titlebar-area-x, 0px);
                --overlay-right: calc(100% - calc(env(titlebar-area-x, 0px) + env(titlebar-area-width, 0px)));
            }
        }

        & > * {
            position: fixed;
            left: calc(50px + var(--overlay-left));
            color: #ffffff;
            filter: drop-shadow(0px 0px 2px #000a);
        }

        & .name {
            top: 8px;
            font-size: 16px;
        }

        & .name, & div.author {
            overflow: hidden;
            white-space: nowrap;
            width: calc(100% - 60px);
        }

        & div.author {
            top: 28px;
            font-size: 10px;

            &[verified]::after {
                content: "✅";
                transform: translate(4px, 0);
            }
        }

        & img.author {
            top: 8px;
            left: calc(10px + var(--overlay-left));
            width: 30px;
            border-radius: 50%;
        }

        & img.description {
            filter: invert(1);
            width: 24px;
            height: 24px;
            right: calc(8px + var(--overlay-right));
            top: 8px;
            left: unset;
            app-region: no-drag;
        }

    }
    
    & .controls {
        position: fixed;
        bottom: 5px;
        left: 5px;
        width: calc(100% - 10px);
        height: 40px;
        box-sizing: border-box;
        app-region: no-drag;
        overflow-x: auto;
        overflow-y: hidden;

        & .scroll-region {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            padding: 0 14px;
            width: max(800px, 100%);
            box-sizing: border-box;
        
            & .playrate {
                min-width: 80px;
            }
            
            & .time {
                flex: 0px;
            }

            [audio_only] & :is(.pip, .fullscreen) {
                display: none;
            }

            [no_subtitles] & .subtitles {
                display: none;
            }
            
            & input[type="range"].volume {
                max-width: 75px;
            }

            [external_file] & :is(.subtitles, .audio-only) {
                display: none;
            }


            [mobile] & .splited-playing {
                display: none;
            }

            [splited_playing] & :is(.pip, .subtitles, .audio-only){
                display: none;
            }
        }
    }

    & .extended-controls {
        position: fixed;
        display: flex;
        right: 10px;
        height: calc(100% - 120px);
        top: 20px;
        flex-direction: column;
        justify-content: center;
        app-region: no-drag;
        gap: 5px;

        &[disabled] {
            display: none;
        }
    }

    & .controls, & .extended-controls {
        & * {
            & img.true {
                display: none;
            }

            & img.false {
                display: block;
            }

            &[true] img{
                &.true {
                    display: block;
                }

                &.false {
                    display: none;
                }
            }
        }
    }

    &:is(:fullscreen) .controls {
        & .fullscreen img {
            &.true {
                display: block;
            }

            &.false {
                display: none;
            }
        }

        & .audio-only {
            display: none;
        }
    }

    & button img.fi{
        filter: invert(1);
    }

    &[embed]:not(:is(:fullscreen, [splited_playing])) {
        & video, img.thumbnail {
            height: calc(100% - 80px);
        }

        & .info {
            & > * {
                top: unset !important;
            }

            & .name {
                bottom: 50px;
            }

            & div.author {
                bottom: 38px;
            }

            & img.author {
                top: unset;
                bottom: 40px;
            }

            & .name, & div.author {
                width: calc(100% - 235px);
            }
        }

        & .extended-controls {
            flex-direction: row;
            bottom: 40px;
            top: unset;
            height: unset;
        }

        & .controls {
            bottom: 90px;
        }
    }
}
