* {
	color: #fff;
}

.title {
	font-size: 50px;

	&:first-letter {
		text-transform: uppercase;
	}
}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.input {
		display: flex;
		gap: 10px;

		& img {
			filter: invert(1);
		}
	}
}
